
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="forum.css">
<title>Login Form</title></head>
<body>
<br>
<div class="LOGIN">
<h5 id="heading">Provide Credentials</h5>
<hr>
<form method="post" action="/authenticate">
<input style="margin-bottom:10px;" type="text"  class="form" placeholder="UserName" value="" name="username"  required=""><br>
<input style="margin-bottom:10px;" type="password"  class="form" placeholder="Password" name="password" required=""><br>
<label class="form"><input type="checkbox"  name="remember">Keep me logged in</label><br>
<input type="submit" class="button" value="getIN" name="getIN">
<p class="or">OR</p>
</form>
<form action="/register">
<input style="margin-bottom:20px;" type="submit" class="button" value="newUSER">
</form>
</div>
</body>
</html>
