<!DOCTYPE html>
<html>
<head>
<style>
body {
	position: relative;
	font-size: 20px;
}

th {
	width: 90px;
	border: 2px solid white;
	text-align: center;
}

table {
	position: relative;
	background-color: white;
}
.horizontal{
display:none;
}

#div {
	margin: auto;
	background-color: white;
	height: 50%;
	max-width: 60%;
}

hr {
	background-color: black;
}

td {
	vertical-align: top;
	padding: 5px;
}

input[type="radio"] {
	vertical-align: bottom;
	width: 17px;
	height: 17px;
}

input[type="checkbox"] {
	vertical-align: bottom;
	width: 17px;
	height: 17px;
}

#Fname {
	float: right;
	font-size: 20px;
	background-color: #85d8ed;
}

#fas{
	//background:black;
	transform:rotate(90deg);
}
#alternate{
	background-color:black;
	padding:8px;
	display:inline;
	
}
#vert{
opacity:0.5;
 /* box-shadow: 10px 12px 0.5rem #85d8ed;
	background:white;
outline-offset: -30px; */
}
</style>
<meta charset="UTF-8">
<title>Surveys</title>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
		<div class="WordSection1">
				<img width="226" height="108" src="https://myfiles.space/user_files/40333_1359eaa66d2fcad5/1574225411_801e-member-satisfaction-survey-en_files/image001.png" align="right">
				<p class="MsoNormal" style="margin:0in;margin-bottom:.0001pt;text-indent:0in; line-height:107%;"><strong><span style="font-size:46.0pt;line-height:107%;font-family: &quot;Calibri&quot;,sans-serif;color:#00A2E0;">ENHANCING</span></strong><strong><span style="font-size:46.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif; color:#0068C7;">&nbsp;</span></strong></p>
				<p class="MsoNormal" style="margin-top:0in;margin-right:-265.15pt;margin-bottom: 0in;margin-left:-.25pt;margin-bottom:.0001pt;line-height:107%;">
				<strong><span style="font-size:46.0pt;line-height:107%; font-family:&quot;Calibri&quot;,sans-serif;color:#0068C7;">THE CLUB&nbsp;</span></strong></p>
				
				<p class="MsoNormal" style="margin-top:0in;margin-right:-265.15pt;margin-bottom: 20.45pt;margin-left:-.25pt;line-height:107%;"><strong><span style="font-size:46.0pt; line-height:107%;font-family:&quot;Calibri&quot;,sans-serif;color:#0068C7;">EXPERIENCE</span></strong></p>
		<div >
				<p class="MsoNormal" style="margin-bottom:21.7pt;">The power of your club lies in your members. By asking them for feedback regularly, you are demonstrating your openness to change and empowering them to help craft an ideal club experience. Use this survey to obtain member feedback about your club. Then use the information to make a plan to ensure that members are enjoying their Rotary club experience.</p>
				<table align="right" border="0" cellpadding="0" cellspacing="0" class="TableGrid" style="width:117.0pt;border-collapse:collapse;margin-left:-2.25pt; margin-right:-2.25pt;" width="156">
				  <tbody>
					<tr style="height:1.8in;">
					  <td style="width:117.0pt;background:#BAD8EA; padding:0in 5.75pt 14.6pt 11.85pt;height:1.8in;" valign="bottom" width="156">
						<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:14.9pt; margin-left:0in;text-indent:0in;line-height:107%;"><span style="font-size: 11.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif;">
							<img width="37" height="54" id="Group7343" src="https://myfiles.space/user_files/40333_1359eaa66d2fcad5/1574225411_801e-member-satisfaction-survey-en_files/image002.png" name="Group 7343">
						  </span></p>
						<p class="MsoNormal"  style="margin-top:0in;margin-right:0in;margin-bottom:0in; margin-left:.15pt;margin-bottom:.0001pt;text-indent:0in;line-height:107%;"><span style="font-size:10.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif; color:#0068C7;">Keep responses confidential when discussing and analyzing them.</span></p>
					  </td>
					</tr>
				  </tbody>
				</table>
				<h1 style="color:#00A2E0;">OUTCOME</h1>
				<p  class="MsoNormal" style="margin-top:0in;margin-right:0in; margin-bottom:.1in;margin-left:12.4pt;line-height:108%;">Conduct this assessment and act on its results to:</p>
				<p class="MsoNormal" style="margin-top:0in;margin-right:5.95pt;margin-bottom: 6.95pt;margin-left:20.9pt;text-indent:-9.0pt;"><span style="line-height:110%; color:#0068C7;">•<span style="font:7.0pt &quot;Times New Roman&quot;;">&nbsp;&nbsp;</span></span> Identify what your members like and don’t like about their club experience</p>
				<p class="MsoNormal" style="margin-top:0in;margin-right:5.95pt;margin-bottom: 21.85pt;margin-left:20.9pt;text-indent:-9.0pt;line-height:108%;"><span style="line-height:108%;color:#0068C7;">•<span style="font:7.0pt &quot;Times New Roman&quot;;">&nbsp;&nbsp;</span></span> Develop an action plan that builds on what your members like and discontinues or changes what your members aren’t satisfied with</p>
				<h1 style="color:#00A2E0;">GETTING ORGANIZED</h1>
				<p class="MsoNormal" style="margin-right:0in;">You’ll need a dedicated group of members to conduct the member satisfaction survey. It can be your club’s membership committee or a few interested, unbiased members. You can either devote time during a club meeting to talking about member satisfaction and taking the survey or hand it out or email it to members and allow them more time to complete it. Alternatively, hold a special meeting devoted to member satisfaction.</p>
				<p class="MsoNormal" style="margin-right:0in;">Make it fun and use some of the time to have members take the survey.</p>
				<table align="right" border="0" cellpadding="0" cellspacing="0" class="TableGrid" style="width:117.0pt;border-collapse:collapse;margin-left:-2.25pt; margin-right:-2.25pt;" width="156">
				  <tbody>
					<tr style="height:160.55pt;">
					  <td style="width:117.0pt;background:#BAD8EA; padding:0in 5.75pt 9.55pt 11.85pt;height:160.55pt;" valign="bottom" width="156">
						<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:14.9pt; margin-left:0in;text-indent:0in;line-height:107%;"><span style="font-size: 11.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif;">
							<img width="37" height="54" id="Group7730" src="https://myfiles.space/user_files/40333_1359eaa66d2fcad5/1574225411_801e-member-satisfaction-survey-en_files/image002.png" name="Group 7730">
						  </span></p>
						<p class="MsoNormal" style="margin-top:0in;margin-right:5.45pt;margin-bottom: 0in;margin-left:.15pt;margin-bottom:.0001pt;text-indent:0in;line-height:107%;"><span style="font-size:10.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif; color:#0068C7;">Note: Each of the steps can take a week or longer. When planning your assessment, be sure to allow enough time.</span></p>
					  </td>
					</tr>
				  </tbody>
				</table>
				<h1 style="color:#00A2E0;">GETTING STARTED</h1>
				<p class="MsoNormal" style="margin-top:0in;margin-right:0in; margin-bottom:.1in;margin-left:0pt;line-height:108%;">Ready to start? Here’s how. </p>
				<h2 style="margin-right:0in;color:#0068C7;">Step 1: Introduce the survey</h2>
				<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:13.3pt; margin-left:12.4pt;">Discuss why it’s important to get feedback from all club members.</p>
				<h2 style="margin-right:0in;color:#0068C7;">Step 2: Distribute the survey</h2>
				<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:13.3pt; margin-left:12.4pt;">Pass out or email the Member Satisfaction Survey to members or use an online survey tool. Explain that their responses are confidential and will be used to enhance the club experience for both current and prospective members.</p>
				<table align="right" border="0" cellpadding="0" cellspacing="0" class="TableGrid" style="width:117.0pt;border-collapse:collapse;margin-left:-2.25pt; margin-right:-2.25pt;" width="156">
				  <tbody>
					<tr style="height:177.1pt;">
					  <td style="width:117.0pt;background:#BAD8EA; padding:0in 5.75pt 14.1pt 11.85pt;height:177.1pt;" valign="bottom" width="156">
						<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:14.9pt; margin-left:0in;text-indent:0in;line-height:107%;"><span style="font-size: 11.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif;">
							<img width="37" height="54" id="Group7676" src="https://myfiles.space/user_files/40333_1359eaa66d2fcad5/1574225411_801e-member-satisfaction-survey-en_files/image002.png" name="Group 7676">
						  </span></p>
						<p class="MsoNormal" style="margin-top:0in;margin-right:.7pt;margin-bottom: 0in;margin-left:.15pt;margin-bottom:.0001pt;text-indent:0in;line-height:107%;"><span style="font-size:10.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif; color:#0068C7;">Consider using an online survey tool. They’re convenient, are often free or inexpensive to use, and are helpful in managing response data.</span></p>
					  </td>
					</tr>
				  </tbody>
				</table>
				<h2 style="margin-right:0in;color:#0068C7;">Step 3: Analyze the data</h2>
				<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:13.3pt; margin-left:12.4pt;">Have your dedicated group review the survey results. Stress the importance of confidentiality and respecting all viewpoints.</p>
				<h2 style="margin-right:0in;color:#0068C7;">Step 4: Present the results</h2>
				<p class="MsoNormal" style="margin-top:0in;margin-right:48.2pt;margin-bottom: 1.35pt;margin-left:12.4pt;text-align:justify;text-justify:inter-ideograph; line-height:130%;">Present and discuss the survey results to the club. Allow time for members to ask questions.</p>
				<h2 style="margin-right:0in;color:#0068C7;">Step 5: Make an action plan</h2>
				<p class="MsoNormal" style="margin-top:0in;margin-right:2.5pt;margin-bottom:0in; margin-left:12.4pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph; line-height:130%;">Hold a forum where club members can offer ideas for addressing the survey findings. Develop a member engagement action plan and set a time frame for implementing changes.&nbsp; </p>
				<h2 style="margin-right:0in;color:#0068C7;">Step 6: Take action</h2>
				<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:33.95pt; margin-left:12.4pt;">The final step is to implement the action plan. Talk to members and involve as many of them as you can in the process so that they are invested in enhancing the club experience.</p>
				<div style="border:solid #0068C7 1.0pt;padding:0in 0in 0in 0in;margin-left: 139.3pt;margin-right:0in;">
				  <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:1.1pt; margin-left:0in;text-indent:0in;line-height:107%;border:none;padding:0in;"><strong><span style="font-size:14.0pt;line-height:107%;color:#0068C7;">Interested in doing other assessments?&nbsp;</span></strong></p>
				  <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:2.5pt; margin-left:.5pt;line-height:107%;border:none;padding:0in;">
					<a href="https://www.rotary.org/myrotary/en/document/representing-your-communitys-professions-classification-assessment"><span style="font-size:10.0pt;line-height:107%;color:#00A2E0;text-decoration:none;">Representing Your Community’s Professions: A Classification Assessment</span></a>
				  </p>
				  <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:2.5pt; margin-left:.5pt;line-height:107%;border:none;padding:0in;">
					<a href="https://www.rotary.org/myrotary/en/document/diversifying-your-club-member-diversity-assessment"><span style="font-size:10.0pt;line-height:107%;color:#00A2E0;text-decoration:none;">Diversifying Your Club: A Member Diversity Assessment</span></a>
				  </p>
				  <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:2.5pt; margin-left:.5pt;line-height:107%;border:none;padding:0in;">
					<a href="https://www.rotary.org/myrotary/en/document/finding-new-club-members-prospective-member-exercise"><span style="font-size:10.0pt;line-height:107%;color:#00A2E0;text-decoration:none;">Finding New Club Members: A Prospective Member Exercise</span></a>
				  </p>
				  <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:2.5pt; margin-left:.5pt;line-height:107%;border:none;padding:0in;">
					<a href="https://www.rotary.org/myrotary/en/document/improving-your-member-retention-retention-assessment-and-analysis"><span style="font-size:10.0pt;line-height:107%;color:#00A2E0;text-decoration:none;">Improving Your Member Retention: Retention Assessment and Analysis</span></a>
				  </p>
				  <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:2.5pt; margin-left:.5pt;line-height:107%;border:none;padding:0in;">
					<a href="https://www.rotary.org/myrotary/en/document/understanding-why-members-resign-exit-survey"><span style="font-size:10.0pt;line-height:107%;color:#00A2E0;text-decoration:none;">Understanding Why Members Leave: Exit Survey</span></a>
				  </p>
				</div>
				<p class="MsoNormal" style="margin:0in;margin-bottom:.0001pt;margin-left:80.5px;text-indent:0in; line-height:107%;">
				  <img width="140" height="60" src="https://myfiles.space/user_files/40333_1359eaa66d2fcad5/1574225411_801e-member-satisfaction-survey-en_files/image003.png" align="left"><strong><span style="margin-left:12.5px;font-size:28.0pt;line-height:107%; font-family:&quot;Calibri&quot;,sans-serif;color:#0068C7;">MEMBER&nbsp;
					<br>&nbsp SATISFACTION SURVEY</span></strong></p>
			
				<p align =left class="MsoNormal" style="margin-top:0in;margin-right:12.15pt;margin-bottom: 29.1pt;margin-left:160.5pt;">This survey focuses on your day-to-day experiences in our Rotary club. Your input is valuable and will be used by all of us to make our club even better. There are no right or wrong answers;&nbsp; we simply ask for your honest opinions. Thank you for taking this survey.&nbsp;&nbsp;&nbsp;</p>
				<h1 align=center><span id=Fname></span></h1>
		<div id="alternate">
		<button type="button" id="vert" autofocus><i style='font-size:24px' id='fas'  class='fas'>&#xf039;</i></button>
		<button type="button" id='horiz'><i style='font-size:24px'  class='fas'>&#xf039;</i></button>
		</div>
	</div>
</div>
	<div id="div">
		<form action="/survey" method="post">

			<table class="table">


			</table>
			<input type="submit" class="submit" value="Submit">
		</form>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
						 var align =0;
						
							//$(".vertical").show();
							 $("#vert").click(function(){
									$("#horiz").css({"opacity":"1"});
									$(".horizontal").hide();
									$(".vertical").show();
									$(this).css({"opacity":"0.5"});
									align =0;
							 });
							 $("#horiz").click(function(){
									$("#vert").css({"opacity":"1"});
									$(".vertical").hide();
									$(".horizontal").show();
									$(this).css({"opacity":"0.5"});
									
							 });

							$.get("/getAuthenticatedFname", function(data) {
								//alert(data); 
								//master changes
								//branch changes
								//changes by master
								//agai
								$("#Fname").text("User: " + data);
							});

							$
									.get(
											"/getAll",
											function(data) {
												//data = jQuery.parseJSON(data);
												// $( "div" ).append( JSON.stringfy(data));
												for (j = 0; j < data.length; j++) {
													var x = '	<tr class="border">	<td>'
															+ (j + 1)
															+ '.&nbsp<td>';
													x += data[j].qDescription
															+ '</tr>	';
													if (data[j].aType != "multiple") {
															
														
														x+='<tr ><td><td><table class="vertical"><tr>';
														for (i = 0; i < data[j].answer.length; i++) {

															x += '<td id="change"><input type="'+data[j].aType+'" class="check" name="'+data[j].qId+'" value="'+data[j].answer[i].aId+ '"><td>'
																	+ data[j].answer[i].aDescription;
														}
														x+='</tr></table></tr>';
														
														for (i = 0; i < data[j].answer.length; i++) {
															
															x += '<tr ><td><td class="horizontal"><input type="'+data[j].aType+'" class="check" name="'+data[j].qId+'" value="'+data[j].answer[i].aId+ '">'
																	+ data[j].answer[i].aDescription
																	+ '</tr>';
														}
														
														x += '	<tr><td colspan="2"><hr></tr>';
													} else {
														x += '<tr><td></td><td><table border=1 frame=void rules=rows >';
														var ans;
														for (i = 0; i < data[j].subQuestion.length; i++) {
															if (i == 0) {
																x += '<tr><th colspan=2 style="background-color:#85d8ed; width:40%" >';
																//alert(data[j].subQuestion[i].answer[0].adescription);
																ans = data[j].subQuestion[i].answer.length;
																for (k = 0; k < ans; k++) {

																	x += '<th style="background-color:#85d8ed"> '
																			+ data[j].subQuestion[i].answer[k].aDescription
																			+ '</th>';
																}
																x += '</tr>';
															}
															//alert(data[j].subQuestion[i].answer[i].adescription);
															x += '<tr><td>'
																	+ data[j].subQuestion[i].qDescription
																	+ '</td><td></td>';
															for (k = 0; k < ans; k++) {

																x += '<td><input type=radio name ='+data[j].qId+data[j].subQuestion[i].id+' value='+data[j].subQuestion[i].id+'C'+data[j].subQuestion[0].answer[k].aId+'></td>';
															}
															//x += '<tr><hr></tr>';
															x += '</tr>';

														}
														x += '</table></td></tr>';

														x += '<tr><td colspan="2"><hr></tr>';

													}
													x += '<tr><td><td align="right"><h3 align="left"><span style="vertical-align:top">Comments and suggestions: </span><textarea maxlength="255" name="commentC'+data[j].qId+'" cols="50" rows="3" style="border-top:none;border-right:none;border-left:none; " placeholder="Type your comments here"></textarea></h3></tr>';
													$(".table").append(x);
													//$("table").append(x);
													//alert( );

												}

											});
			
						});
		
		
	</script>
</body>
</html>
